.display-4 {
  margin-bottom: 50px;
}

.jumbotron {
  margin-top: 30px;
}

p:first-of-type {
  margin-top: 30px;
}

.btn.btn-primary.btn-block {
  margin-top: 30px;
  display: block;
}

textarea {
  width: 100%;
  height: 400px;
}
